// --------------------------------------------------
// Layout default
// --------------------------------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 $footer-height;
}

header {
  @include srnbg;

  &.drop {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,05);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);

    margin-bottom: 1.5rem;
  }

  .top-bar {
    background-color: transparent;

    ul {
      background-color: transparent;
    }

    @include grid-row;
    position: relative;

    .top-bar-title {
      @include vertical-center;
    }

    img {
      max-height: 2rem;
    }

    nav {
      @include grid-column;
    }
  }
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    max-height: $footer-height;
    
    @include srnbg;

    &, a {
      color: $light-gray;
    }

    .menu img {
      max-height: $footer-height/2;
    }
}
