// --------------------------------------------------
// Layout default
// --------------------------------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 $footer-height;
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

header {
  @include srnbg;

  &.drop {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,05);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);

    margin-bottom: 1.5rem;
  }

  .top-bar, .title-bar {
    background-color: transparent;

    ul {
      background-color: transparent;

      &.menu {
        li a {
          padding-left: 0.5rem;
          padding-right: 0.5rem;

          @include breakpoint(large) {
            padding-left: 0.7rem;
            padding-right: 0.7rem;
          }
        }
      }
    }

    @include grid-row;
    position: relative;

    .top-bar-title {
      @include vertical-center;
    }

    img {
      max-height: 2rem;
    }

    nav {
      @include grid-column;
    }
  }
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;

    @include breakpoint("medium") {
      max-height: $footer-height;
    }
    
    @include srnbg;

    &, a {
      color: $light-gray;
    }

    .menu img {
      max-height: $footer-height/2;
    }
}
