// --------------------------------------------------
// Your module
// --------------------------------------------------

header .menu {
	a {
		color: smart-scale($srnblue, 40%, 40%);
		font-weight: bold;
	}

	.active > a {
		background: none;
	}
}
