// --------------------------------------------------
// Your module
// --------------------------------------------------

header .menu {
	a {
		color: smart-scale($srnblue, 40%, 40%);
		font-weight: bold;
	}

	.active > a {
		background: none;
	}
}

.thumbnail.profile img {
  max-height: 100px;
  max-width: 100px;
}

.sponsors .column {
	padding-bottom: 1rem;
}
