---
layout: compress
---

{% include head.html %}

<header class="drop">
	<div class="title-bar" data-responsive-toggle="top-menu" data-hide-for="medium">
		<div class="title-bar-title">&nbsp;</div>
		<div class="title-bar-right"><button class="menu-icon" type="button" data-toggle="top-menu"></button> Menu</div>
	</div>

	<div class="top-bar" id="top-menu">
		<div class="top-bar-left show-for-medium">
			&nbsp;
		</div>
		<div class="top-bar-right">
			{% include components/nav-menu.html %}
		</div>
	</div>

	<div class="hero text-center row">
		<div class="column">
			<img src="/assets/img/srn-logo-white.svg" alt="Nottingham SRN Logo" />
		</div>
	</div>
</header>

<main>
	<div class="row">
		<div class="column">
			{{ content }}
		</div>
	</div>
</main>

{% include footer.html %}
